@model Domain.Entities.File

@{
    ViewData["Title"] = "Informações";
}

<h2>Informações</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Volta</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Altera</a>
</div>
